{% extends 'base/base.html' %} 
{% block content %}
<!-- TODO: I have it split currently with multiple ifs for easier styling -->
<div class="row">
    <div class="col">
        <h3>
            Profile
        </h3>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>
            <a href="{% url 'followers' user.username %}">Followers: </a>
            {{ user.profile.followers }}
        </p>
        <p>
            <a href="{% url 'following' user.username %}">Following: </a>
            {{ user.profile.following }}
        </p>
        <!-- User Settings -->
        <a href="{% url 'profile' %}">Settings</a>
    </div>
    <div class="col">
        <h3>
            Tweets
        </h3>
        {% for tweet in tweets %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ tweet.author }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ tweet.date_posted | date:"H:i, d.m.y" }}</h6>
                    <p class="card-text">{{ tweet.content }}</p>
                    {% if tweet.author == user %}
                        <a href="{% url 'tweet-detail' tweet.id %}" class="card-link"><p>Comments: {{ tweet.reply_count }}</a>
                        <a href="{% url 'delete-tweet' tweet.id %}" class="card-link">delete tweet</a>
                        <a href="{% url 'tweet-detail' tweet.id %}" class="card-link">view tweet</a>
                        <a href="{% url 'edit-tweet' tweet.id %}" class="card-link">edit tweet</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
